h1, h2, h3, h4 {
    font-family: Merienda, sans-serif;
    font-weight: 700;
}

h2, h3, h4 {
    text-align: center;
}

h3, h4 {
    margin-top: 1em;
    margin-bottom: 1em;
}
.btn a {
    text-decoration: none;
    color: black;
}

.accordionquestion {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-style: none;
    font-weight: 500;
    color: black;
}

#download, #MyLinkedIn, #MacEwan, #Lynda {
    border: none;
    background: none;
}

#footer {
    display: block;
    height: 100px;
}

.blockquote {
    margin-top: 2em;
    margin-bottom: 2em;
}

#profile-img {
    max-height: 400px;
    align-content: center;
    vertical-align: center;
}

@media screen and (max-width: 959px) {
    h1, h2, h3 {
        text-align: center;
    }
}