charset "utf-8";
/* CSS Document */

/*My colors:
Dark gray - 43, 58, 66 - 2B3A42  rgb(43, 58, 66)
Lighter gray - 63, 87, 101 - rgb(63, 87, 101)
Off white - 189, 212, 222 - rgb(189, 212, 222)
White - 239, 239, 239 - EFEFEF  rgb(239, 239, 239)
Orange - 255, 83, 13 - FF530D   rgb(255, 83, 13)   */

/* Global styles
------------------------------------*/
/* border box fix */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

h1, h2, h3 {
  text-align: center;
  padding-bottom: 40px;
  text-transform: uppercase;
}

/* Navigation
---------------------------------------------------------*/

nav ul {
  list-style: none;
  text-decoration: none;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

/* Navigation Flexbox
---------------------------------------------------------*/


/*12-column grid setup (Tried using repeat () but it wouldn't work)
MOBILE ------------------------------------------------------*/

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
  max-width: 1200px;
}

.container >* {
  grid-column: 1 / span 12;
}

.icon {
  visibility: hidden;
}

/*12-column grid setup (Tried using repeat () but it wouldn't work)
SCREEN SIZE: 600-900px -------------------------------------*/

@media (min-width: 600px) {
  nav ul {
    display: flex;
    justify-content: space-around;
  }
}
